<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<style>
    .notFound {
        display: flex;
        justify-content: center;
        margin-top: 300px;
        font-size: 50px;
        color: red;
    }
</style>


<div class="notFound">
    Page is not found!!!!!
</div>

</body>
</html>